#wsb-element-265149357 {
    top: 175px;
    left: -167px;
    position: absolute;
    z-index: 18
}

#wsb-element-265149357 {
    width: 199px;
    height: 31px
}

#wsb-element-265149359 {
    top: 562px;
    left: 9px;
    position: absolute;
    z-index: 23
}

#wsb-element-265149359 .wsb-line-element {
    width: 954px;
    height: 20px
}

#wsb-element-265149360 {
    top: 563px;
    left: 10px;
    position: absolute;
    z-index: 22
}

#wsb-element-265149360 .wsb-line-element {
    width: 953px;
    height: 20px
}

#wsb-element-265149361 {
    top: 585px;
    left: 10px;
    position: absolute;
    z-index: 24
}

#wsb-element-265149361 .wsb-image-inner {}

#wsb-element-265149361 .wsb-image-inner div {
    width: 191px;
    height: 170px;
    position: relative;
    overflow: hidden
}

#wsb-element-265149361 img {
    position: absolute
}

#wsb-element-265149362 {
    top: 820.5px;
    left: 14px;
    position: absolute;
    z-index: 26
}

#wsb-element-265149362 .txt {
    width: 169px;
    height: 37px
}

#wsb-element-265149363 {
    top: 756.5px;
    left: 9.5px;
    position: absolute;
    z-index: 25
}

#wsb-element-265149363 .wsb-shape {
    width: 192px;
    height: 205px;
    padding: 0px;
    background: #ff0;
    box-sizing: content-box;
    -moz-box-sizing: content-box
}

#wsb-element-265149364 {
    top: 913px;
    left: 51px;
    position: absolute;
    z-index: 27
}

#wsb-element-265149364 .wsb-button {
    width: 94px;
    height: 24px
}

#wsb-element-265149377 {
    top: 973.111129761px;
    left: 9.666656494px;
    position: absolute;
    z-index: 40
}

#wsb-element-265149377 .wsb-shape {
    width: 953px;
    height: 342px;
    padding: 0px;
    background: #7f007f;
    box-sizing: content-box;
    -moz-box-sizing: content-box
}

#wsb-element-265149378 {
    top: 1106px;
    left: 51.5px;
    position: absolute;
    z-index: 41
}

#wsb-element-265149378 .txt {
    width: 869px;
    height: 163px
}

#wsb-element-265149381 {
    top: 1333px;
    left: 10px;
    position: absolute;
    z-index: 45
}

#wsb-element-265149381 .wsb-line-element {
    width: 953px;
    height: 20px
}

#wsb-element-265149382 {
    top: 1332px;
    left: 9px;
    position: absolute;
    z-index: 44
}

#wsb-element-265149382 .wsb-line-element {
    width: 955px;
    height: 20px
}

#wsb-element-265149434 {
    top: 1047.5px;
    left: 53px;
    position: absolute;
    z-index: 56
}

#wsb-element-265149434 .txt {
    width: 859px;
    height: 36px
}

#wsb-element-265149435 {
    top: 1000.5px;
    left: 51px;
    position: absolute;
    z-index: 55
}

#wsb-element-265149435 .txt {
    width: 860px;
    height: 57px
}

#wsb-element-265149436 {
    top: 110px;
    left: 190px;
    position: absolute;
    z-index: 21
}

#wsb-element-265149436>div {
    width: 612px;
    height: 431px;
    padding: 0px;
    background: #7f0000
}

#wsb-element-265153455 {
    top: -10px;
    left: 7px;
    position: absolute;
    z-index: 59
}

#wsb-element-265153455 .txt {
    width: 972px;
    height: 120px
}

#wsb-element-265219340 {
    top: 820.5px;
    left: 773px;
    position: absolute;
    z-index: 71
}

#wsb-element-265219340 .txt {
    width: 190px;
    height: 37px
}

#wsb-element-265219341 {
    top: 820.5px;
    left: 592.5px;
    position: absolute;
    z-index: 70
}

#wsb-element-265219341 .txt {
    width: 169px;
    height: 37px
}

#wsb-element-265219342 {
    top: 820.5px;
    left: 409px;
    position: absolute;
    z-index: 69
}

#wsb-element-265219342 .txt {
    width: 152px;
    height: 37px
}

#wsb-element-265219343 {
    top: 820.5px;
    left: 212px;
    position: absolute;
    z-index: 68
}

#wsb-element-265219343 .txt {
    width: 169px;
    height: 37px
}

#wsb-element-265219344 {
    top: 755px;
    left: 771px;
    position: absolute;
    z-index: 67
}

#wsb-element-265219344 .wsb-shape {
    width: 194px;
    height: 205px;
    padding: 0px;
    background: #0000bf;
    box-sizing: content-box;
    -moz-box-sizing: content-box
}

#wsb-element-265219345 {
    top: 756.5px;
    left: 581.5px;
    position: absolute;
    z-index: 66
}

#wsb-element-265219345 .wsb-shape {
    width: 191px;
    height: 205px;
    box-sizing: content-box;
    -moz-box-sizing: content-box
}

#wsb-element-265219346 {
    top: 756.5px;
    left: 393px;
    position: absolute;
    z-index: 65
}

#wsb-element-265219346 .wsb-shape {
    width: 187px;
    height: 205px;
    padding: 0px;
    background: red;
    box-sizing: content-box;
    -moz-box-sizing: content-box
}

#wsb-element-265219347 {
    top: 756.5px;
    left: 199.5px;
    position: absolute;
    z-index: 64
}

#wsb-element-265219347 .wsb-shape {
    width: 194px;
    height: 205px;
    box-sizing: content-box;
    -moz-box-sizing: content-box
}

#wsb-element-265219348 {
    top: 585px;
    left: 770px;
    position: absolute;
    z-index: 63
}

#wsb-element-265219348 .wsb-image-inner {}

#wsb-element-265219348 .wsb-image-inner div {
    width: 195px;
    height: 170px;
    position: relative;
    overflow: hidden
}

#wsb-element-265219348 img {
    position: absolute
}

#wsb-element-265219349 {
    top: 585px;
    left: 581px;
    position: absolute;
    z-index: 62
}

#wsb-element-265219349 .wsb-image-inner {}

#wsb-element-265219349 .wsb-image-inner div {
    width: 188px;
    height: 170px;
    position: relative;
    overflow: hidden
}

#wsb-element-265219349 img {
    position: absolute
}

#wsb-element-265219350 {
    top: 585px;
    left: 392px;
    position: absolute;
    z-index: 61
}

#wsb-element-265219350 .wsb-image-inner {}

#wsb-element-265219350 .wsb-image-inner div {
    width: 187px;
    height: 170px;
    position: relative;
    overflow: hidden
}

#wsb-element-265219350 img {
    position: absolute
}

#wsb-element-265219351 {
    top: 585px;
    left: 201px;
    position: absolute;
    z-index: 60
}

#wsb-element-265219351 .wsb-image-inner {}

#wsb-element-265219351 .wsb-image-inner div {
    width: 191px;
    height: 170px;
    position: relative;
    overflow: hidden
}

#wsb-element-265219351 img {
    position: absolute
}

#wsb-element-265234610 {
    top: 913px;
    left: 614px;
    position: absolute;
    z-index: 74
}

#wsb-element-265234610 .wsb-button {
    width: 94px;
    height: 24px
}

#wsb-element-265234611 {
    top: 913px;
    left: 805.5px;
    position: absolute;
    z-index: 75
}

#wsb-element-265234611 .wsb-button {
    width: 94px;
    height: 24px
}

#wsb-element-265254830 {
    top: 913px;
    left: 249.5px;
    position: absolute;
    z-index: 77
}

#wsb-element-265254830 .wsb-button {
    width: 94px;
    height: 24px
}

#wsb-element-265254831 {
    top: 913px;
    left: 435.5px;
    position: absolute;
    z-index: 76
}

#wsb-element-265254831 .wsb-button {
    width: 94px;
    height: 24px
}

#wsb-element-265277642 {
    top: 330px;
    left: -180px;
    position: absolute;
    z-index: 78
}

#wsb-element-265277642>div {
    width: 172px;
    height: 77px
}

#wsb-element-273217378 {
    top: 1353px;
    left: 636.5px;
    position: absolute;
    z-index: 79
}

#wsb-element-273217378 .wsb-htmlsnippet-element {
    width: 284px;
    height: 100px;
    overflow: hidden;
    margin: auto
}

#wsb-element-275248380 {
    top: 53px;
    left: 9.5px;
    position: absolute;
    z-index: 15
}

#wsb-element-275248380 .wsb-line-element {
    width: 953px;
    height: 20px
}

#wsb-element-275248381 {
    top: 54px;
    left: 10px;
    position: absolute;
    z-index: 12
}

#wsb-element-275248381 .wsb-line-element {
    width: 953px;
    height: 20px
}
